@import "frappe.css";

* {
    font-family: FiraCode Nerd Font;
    font-size: 18px;
}

window#waybar {
    background: transparent;
}
.modules-left,
.modules-right {
    background: @base;
    border-radius: 10px;
}

#workspaces,
#window,
#hardware,
#audio,
#time,
#traygroup,
tooltip {
    color: @text;
    background: @surface0;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

#workspaces button,
#hardware *,
#audio *,
#time * {
    color: @text;
    background: none;
    border: none;
    padding: 0px 5px;
}

#workspaces button {
    color: @blue;
}
#workspaces button.active {
    color: @yellow;
}
#workspaces button:hover {
    color: @text;

    /* Needed to remove hover effects. */
    box-shadow: none;
    text-shadow: none;
}

/* Removes #window module when no windows present */
window#waybar.empty #window {
    all: unset;
}

#cpu {
    color: @maroon;
}
#memory {
    color: @peach;
}
#network {
    color: @yellow;
}
#pulseaudio {
    color: @green;
}
#mpris {
    color: @green;
}
#clock.1 {
    color: @teal;
}
#clock.2 {
    color: @sapphire;
}

#traygroup {
    padding: 0px 10px;
}
#tray {
    padding-right: 10px;
}

menu {
    background: @base;
    border-radius: 10px;
    padding: 10px;
}
menuitem {
    background: @surface0;
}
menuitem:hover {
    background: @blue;
}
